.project{
    padding: 20px;
    text-align: center;
    font-size: 33px;
}

.menu3 {
    text-decoration: none;
    background: #0075a1;
    color: paleturquoise;
    padding-bottom: 20px;
    font-weight: bold;
    border-radius: 5px;
    list-style: none;
}

.project2{

    padding: 20px;
    text-align: center;
    font-size: 40px;

}

